<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>807039248150-8v9946vb88rj0cir0t18oo0g8nppp8k2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.807039248150-8v9946vb88rj0cir0t18oo0g8nppp8k2</string>
	<key>API_KEY</key>
	<string>AIzaSyAvYkGSJOfl67Ti1QDDXa-jV06MkfF_5H8</string>
	<key>GCM_SENDER_ID</key>
	<string>807039248150</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.taxiapp.dev</string>
	<key>PROJECT_ID</key>
	<string>taxiappdev-86986</string>
	<key>STORAGE_BUCKET</key>
	<string>taxiappdev-86986.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:807039248150:ios:f9cafec1f248a33c4f5237</string>
	<key>DATABASE_URL</key>
	<string>https://taxiappdev-86986-default-rtdb.firebaseio.com</string>
</dict>
</plist>